# Microdados Covid MT

- IndicaSUS: http://sistemas.saude.mt.gov.br/PainelIndicadorPublico/Visualizar/140

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pacotes" data-toc-modified-id="Pacotes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pacotes</a></span></li><li><span><a href="#Dados-manuais-levantados" data-toc-modified-id="Dados-manuais-levantados-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Dados manuais levantados</a></span></li><li><span><a href="#Dados-do-painel-IndicaSUS---coleta-em-13/out" data-toc-modified-id="Dados-do-painel-IndicaSUS---coleta-em-13/out-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Dados do painel IndicaSUS - coleta em 13/out</a></span><ul class="toc-item"><li><span><a href="#Filtra-datas-anteriores-a-março" data-toc-modified-id="Filtra-datas-anteriores-a-março-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Filtra datas anteriores a março</a></span></li><li><span><a href="#Checando-datas" data-toc-modified-id="Checando-datas-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Checando datas</a></span></li></ul></li><li><span><a href="#Comparacao-dos-dados-manuais-x-IndicaSUS" data-toc-modified-id="Comparacao-dos-dados-manuais-x-IndicaSUS-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Comparacao dos dados manuais x IndicaSUS</a></span></li><li><span><a href="#Serie-historica-acumulada---IndicaSUS" data-toc-modified-id="Serie-historica-acumulada---IndicaSUS-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Serie historica acumulada - IndicaSUS</a></span></li></ul></div>

## Pacotes

In [1]:
import numpy as np
import pandas as pd

## Dados manuais levantados

In [2]:
compare_20200917 = pd.read_excel("Análise por municipio_20200917.xlsx", nrows=100, header=2)
compare_20200917.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Municípios        99 non-null     object
 1   População         99 non-null     float64
 2   Confirmados       100 non-null    int64
 3   Em Monitoramento  100 non-null    int64
 4   Recuperados       100 non-null    int64
 5   Óbitos            99 non-null     float64
 6   Incidência        99 non-null     float64
 7   Mortalidade       98 non-null     float64
dtypes: float64(4), int64(3), object(1)
memory usage: 6.4+ KB

In [3]:
compare_20200902 = pd.read_excel("Análise por municipio_20200902.xlsx", nrows=100, header=2)
compare_20200902.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Municípios        99 non-null     object
 1   População         99 non-null     float64
 2   Confirmados       100 non-null    int64
 3   Em Monitoramento  99 non-null     float64
 4   Recuperados       100 non-null    int64
 5   Óbitos            98 non-null     float64
 6   Incidência        99 non-null     float64
 7   Mortalidade       97 non-null     float64
dtypes: float64(5), int64(2), object(1)
memory usage: 6.4+ KB

## Dados do painel IndicaSUS - coleta em 13/out

In [4]:
df = pd.read_excel("TabelaDinamica-13_10_2020_08_27_11.xlsx", header=2)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131724 entries, 0 to 131723
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CodigoIBGERegiao       131724 non-null  int64
 1   RegiaoSaude            131724 non-null  object
 2   CodigoIBGE             131724 non-null  int64
 3   Municipio              131724 non-null  object
 4   DataNotificacao        131724 non-null  object
 5   idade                  131724 non-null  int64
 6   Sexo                   131724 non-null  object
 7   RacaCor                123977 non-null  object
 8   ProfissionalSaude      126077 non-null  object
 9   ProfissionalSeguranca  124434 non-null  object
 10  DataInicioSintomas     115862 non-null  object
 11  Comorbidade            131724 non-null  object
 12  Cardiovascular         128650 non-null  object
 13  Diabetes               129166 non-null  object
 14  Hipertensao            129671 non-null  object
 15  Neoplasia              128470 non-null  object
 16  Obesidade              129218 non-null  object
 17  Pulmonar               128538 non-null  object
 18  Situacao               131526 non-null  object
 19  Hospitalizado          131724 non-null  object
 20  FechamentoCaso         131724 non-null  object
 21  DataModificacaoObito   3650 non-null    object
 22  DataEncerramentoCaso   121575 non-null  object
 23  Gestante               123133 non-null  object
 24  Seq_Row_Number         131724 non-null  int64
dtypes: int64(4), object(21)
memory usage: 25.1+ MB

### Filtra datas anteriores a março

In [5]:
meses_validos = [f"0{i}/2020" if i < 10 else f"{i}/2020" for i in range(3, 11)]
meses_validos

['03/2020',
 '04/2020',
 '05/2020',
 '06/2020',
 '07/2020',
 '08/2020',
 '09/2020',
 '10/2020']

In [6]:
drop = df[(df["DataNotificacao"].str.contains('|'.join(meses_validos)) == False)
         | (df["DataModificacaoObito"].str.contains('|'.join(meses_validos)) == False)]
drop

,CodigoIBGERegiao,RegiaoSaude,CodigoIBGE,Municipio,DataNotificacao,idade,Sexo,RacaCor,ProfissionalSaude,ProfissionalSeguranca,...,Neoplasia,Obesidade,Pulmonar,Situacao,Hospitalizado,FechamentoCaso,DataModificacaoObito,DataEncerramentoCaso,Gestante,Seq_Row_Number
2687,5101,Médio Araguaia,510185,Bom Jesus do Araguaia,12/02/2020 00:00:00,41,Masculino,Parda,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,25/06/2020 00:00:00,Não,2688
6145,5103,Garças Araguaia,510180,Barra do Garças,29/01/2020 00:00:00,40,Feminino,Parda,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,24/08/2020 00:00:00,Não,6146
7244,5103,Garças Araguaia,510180,Barra do Garças,30/06/1986 00:00:00,0,Feminino,Parda,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,25/08/2020 00:00:00,Não,7245
10103,5103,Garças Araguaia,510180,Barra do Garças,25/08/1979 00:00:00,0,Masculino,Parda,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,06/08/2020 00:00:00,Não,10104
31624,5105,Baixada Cuiabana,510780,Santo Antônio do Leverger,15/07/2002 00:00:00,36,Feminino,Ignorado,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Clínico,NaN,01/09/2020 00:00:00,Não,31625
67850,5111,Sul Matogrossense,510760,Rondonópolis,21/01/2020 00:00:00,42,Feminino,Parda,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,03/10/2020 00:00:00,Não,67851
72350,5111,Sul Matogrossense,510030,Alto Araguaia,07/02/2020 00:00:00,28,Masculino,Parda,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,15/07/2020 00:00:00,Não,72351
72351,5111,Sul Matogrossense,510030,Alto Araguaia,07/01/2020 00:00:00,27,Masculino,Parda,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,15/07/2020 00:00:00,Não,72352
72362,5111,Sul Matogrossense,510030,Alto Araguaia,07/02/2020 00:00:00,39,Masculino,Parda,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,15/07/2020 00:00:00,Não,72363
74337,5111,Sul Matogrossense,510760,Rondonópolis,07/02/2020 00:00:00,0,Feminino,Parda,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,10/10/2020 00:00:00,Não,74338
75219,5111,Sul Matogrossense,510760,Rondonópolis,07/02/2020 00:00:00,30,Masculino,Parda,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,24/07/2020 00:00:00,Não,75220
102784,5112,Teles Pires,510790,Sinop,27/06/2020 00:00:00,61,Masculino,NaN,Não,Não,...,Não,Não,Não,Óbito,Não,Confirmado Laboratorial,07/01/2020 00:00:00,01/07/2020 00:00:00,NaN,102785
104982,5112,Teles Pires,510525,Lucas do Rio Verde,16/05/2006 00:00:00,0,Masculino,Branca,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,25/08/2020 00:00:00,Não,104983
106593,5112,Teles Pires,510790,Sinop,30/01/2001 00:00:00,54,Masculino,Branca,Não,Não,...,Não,Não,Não,Recuperado,Sim,Confirmado Laboratorial,NaN,06/08/2020 00:00:00,Não,106594
107133,5112,Teles Pires,510370,Feliz Natal,07/01/2020 00:00:00,41,Masculino,Branca,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,08/07/2020 00:00:00,Não,107134
109940,5112,Teles Pires,510790,Sinop,23/01/2001 00:00:00,35,Masculino,Amarela,Não,Não,...,NaN,NaN,NaN,Recuperado,Não,Confirmado Vínculo Epidemiológico,NaN,28/07/2020 00:00:00,Não,109941
113400,5113,Médio Norte Matogrossense,510263,Campo Novo do Parecis,16/08/2001 00:00:00,0,Feminino,Preta,Não,Não,...,Não,Não,Não,Recuperado,Não,Confirmado Laboratorial,NaN,31/08/2020 00:00:00,Não,113401

In [10]:
df_clean = df.drop(drop.index)
drop.to_csv("br_mt_casos_removidos.csv")

In [24]:
from datetime import datetime

In [30]:
df_clean["DataModificacaoObito"].dropna().dt.day

48        17
250        4
290        9
367        4
422       28
          ..
131327    11
131401    24
131446    27
131468    26
131548     1
Name: DataModificacaoObito, Length: 3649, dtype: int64

In [53]:
dates = ["DataNotificacao", "DataModificacaoObito", "DataEncerramentoCaso"]
for col in dates:
    df_clean[col] = (pd.to_datetime(df[col], format="%d/%m/%Y %H:%M:%S").dt.normalize())

### Checando datas

In [54]:
df[~df["DataModificacaoObito"].isnull()][dates].head()

         DataNotificacao DataModificacaoObito DataEncerramentoCaso
48   17/08/2020 00:00:00  17/08/2020 08:53:15  16/08/2020 00:00:00
250  27/06/2020 00:00:00  04/07/2020 00:00:00  04/07/2020 00:00:00
290  21/08/2020 00:00:00  09/09/2020 18:12:24  29/09/2020 00:00:00
367  01/10/2020 00:00:00  04/10/2020 09:58:31  03/10/2020 00:00:00
422  23/07/2020 00:00:00  28/07/2020 08:07:52  27/07/2020 00:00:00

In [56]:
df_clean[~df_clean["DataModificacaoObito"].isnull()][dates].head().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 48 to 422
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DataNotificacao       5 non-null      datetime64[ns]
 1   DataModificacaoObito  5 non-null      datetime64[ns]
 2   DataEncerramentoCaso  5 non-null      datetime64[ns]
dtypes: datetime64[ns](3)
memory usage: 160.0 bytes

## Comparacao dos dados manuais x IndicaSUS

In [59]:
dates = ['2020-09-17', '2020-09-02']

microdados = {date: pd.DataFrame() for date in dates}

# pega confirmados e óbitos para cada data
for date in dates:
    
    # Óbitos
    microdados[date]["Óbitos"] = (df_clean.query(f"DataModificacaoObito <= '{date}'")
#                                        .query("Situacao == 'Óbito'")
                                       .groupby("Municipio")["Seq_Row_Number"].count())

    # Casos
    microdados[date]["Confirmados"] = (df_clean.query(f"DataNotificacao <= '{date}'")
                                          .groupby("Municipio")["Seq_Row_Number"]
                                          .count())
    
    # Completa dias sem casos/obitos
    microdados[date] = microdados[date].fillna(0)


pd.options.display.max_rows=150
microdados['2020-09-17'] = microdados['2020-09-17'].join(
    compare_20200917.set_index("Municípios")[["Óbitos", "Confirmados"]], 
    lsuffix="_microdados",rsuffix="_manual")

microdados['2020-09-02'] = microdados['2020-09-02'].join(
    compare_20200902.set_index("Municípios")[["Óbitos", "Confirmados"]], 
    lsuffix="_microdados",rsuffix="_manual")

In [60]:
microdados['2020-09-17'].head()

,Óbitos_microdados,Confirmados_microdados,Óbitos_manual,Confirmados_manual
Municipio,,,,
Acorizal,6,176,6.0,174.0
Alta Floresta,21,1235,21.0,1172.0
Alto Araguaia,5,317,5.0,320.0
Alto Boa Vista,3,86,NaN,NaN
Alto Garças,10,241,10.0,238.0

In [61]:
microdados['2020-09-02'].head()

,Óbitos_microdados,Confirmados_microdados,Óbitos_manual,Confirmados_manual
Municipio,,,,
Acorizal,3,151,3.0,148.0
Alta Floresta,21,1019,21.0,997.0
Alto Araguaia,3,257,3.0,259.0
Alto Boa Vista,3,79,NaN,NaN
Alto Garças,6,219,6.0,215.0

In [62]:
# microdados['2020-09-17'].to_csv("br_mt_microdados_comparacao_20200917.csv")
# microdados['2020-09-02'].to_csv("br_mt_microdados_comparacao_20200902.csv")

## Serie historica acumulada - IndicaSUS

In [63]:
confirmados = (df_clean
 .groupby(["Municipio", "DataNotificacao"])["Seq_Row_Number"]
 .count()
 .reset_index()
 .assign(confirmados= lambda df: df.groupby(["Municipio"])["Seq_Row_Number"].cumsum())
 .sort_values(["DataNotificacao", "Municipio"])
 .rename(columns={"DataNotificacao": "data", 
                  "Municipio": "municipio"})
 .drop(columns="Seq_Row_Number"))

confirmados

              municipio       data  confirmados
5944       Nova Lacerda 2020-03-06            1
8535       Rondonópolis 2020-03-07            1
2860             Cuiabá 2020-03-14            1
2861             Cuiabá 2020-03-16            2
10924     Várzea Grande 2020-03-16            1
...                 ...        ...          ...
9490              Sinop 2020-10-13         5958
9648            Sorriso 2020-10-13         5962
10336  Tangará da Serra 2020-10-13         5333
11096     Várzea Grande 2020-10-13         9532
11213          Água Boa 2020-10-13          762

[11214 rows x 3 columns]

In [64]:
mortes = (df_clean
 .groupby(["Municipio", "DataModificacaoObito"])["Seq_Row_Number"]
 .count()
 .reset_index()
 .assign(mortes= lambda df: df.groupby(["Municipio"])["Seq_Row_Number"].cumsum())
 .sort_values(["DataModificacaoObito", "Municipio"])
 .rename(columns={"DataModificacaoObito": "data", 
                  "Municipio": "municipio"})
 .drop(columns="Seq_Row_Number"))

mortes

               municipio       data  mortes
380               Cuiabá 2020-03-09       1
783   Lucas do Rio Verde 2020-04-03       1
381               Cuiabá 2020-04-07       2
528              Cáceres 2020-04-08       1
1313        Rondonópolis 2020-04-08       1
...                  ...        ...     ...
1570               Sinop 2020-10-12     115
1628             Sorriso 2020-10-12      94
1918       Várzea Grande 2020-10-12     469
654     General Carneiro 2020-10-13      10
1571               Sinop 2020-10-13     117

[1934 rows x 3 columns]

In [65]:
serie_historica = confirmados.merge(mortes, on=["municipio", "data"])
serie_historica

          municipio       data  confirmados  mortes
0      Rondonópolis 2020-04-08           64       1
1            Cuiabá 2020-04-15          210       3
2      Rondonópolis 2020-04-22           86       2
3        Nova Mutum 2020-04-28            3       1
4            Cuiabá 2020-05-02          234       4
...             ...        ...          ...     ...
1687        Jaciara 2020-10-12         1443      31
1688          Sinop 2020-10-12         5949     115
1689        Sorriso 2020-10-12         5952      94
1690  Várzea Grande 2020-10-12         9529     469
1691          Sinop 2020-10-13         5958     117

[1692 rows x 4 columns]

In [66]:
serie_historica.to_csv("br_mt_serie_historica_microdados.csv")